{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'services' %}">Services</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products Offered</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'add-services' %}" class="btn btn-primary">Add service</a>
        </div>
    </div>
{% include 'partials/_messages.html' %}
    <div class="container">
        
        {% if services %}
        <!-- This will show the table only if services exist -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Cost</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Deadline</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                {% for service in page_obj %}
                <tr>
                    <td>{{service.cost}}</td>
                    <td>{{service.category}}</td>
                    <td>{{service.description}}</td>
                    <td>{{service.date}}</td>
                    <td>
                        <a href="{% url 'edit-service' service.id %}" class="btn btn-secondary">
                            Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="">
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </div>

        <ul class="pagination justify-content-end mr-auto">
            {% if page_obj.has_previous %}
            <li class="page-item {% if page_obj.number == 1 %} active {% endif %}">
                <a class="page-link" href="?page=1">&laquo; 1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    {{ page_obj.paginator.num_pages }} &raquo;
                </a>
            </li>
            {% endif %}
        </ul>
        

        {% else %}
        <p>No services available at the moment.</p>
        {% endif %}
    </div>
    
</div>



{% endblock content %}
